In [1]:
# Dependencies and Setup
from bs4 import BeautifulSoup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import time
import pymongo
from selenium import webdriver

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - There is no [win32] chromedriver for browser 89.0.4389 in cache
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Trying to download new driver from https://chromedriver.storage.googleapis.com/89.0.4389.23/chromedriver_win32.zip
[WDM] - Driver has been saved in cache [D:/Ryan S/upenn\.wdm\drivers\chromedriver\win32\89.0.4389.23]

In [3]:
# nasa mars news scrape setup

nasa_url = 'https://mars.nasa.gov/news/'
browser.visit(nasa_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
# find stories

news_feed = soup.find_all('li', class_='slide')

In [6]:
print(news_feed[0])
# it worked!

<li class="slide"><div class="image_and_description_container"><a href="/news/8896/nasa-ingenuity-mars-helicopter-prepares-for-first-flight/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Now uncocooned from its protective carbon-fiber shield, the helicopter is being readied for its next steps.  </div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="An illustration of NASA’s Ingenuity Helicopter flying on Mars. " src="/system/news_items/list_view_images/8896_thumb-320.jpg"/></div><div class="bottom_gradient"><div><h3>NASA Ingenuity Mars Helicopter Prepares for First Flight</h3></div></div></a><div class="list_text"><div class="list_date">March 23, 2021</div><div class="content_title"><a href="/news/8896/nasa-ingenuity-mars-helicopter-prepares-for-first-flight/" target="_self">NASA Ingenuity Mars Helicopter Prepares for First Flight</a></div><div class="article_teaser_body">Now uncocooned from its protective carbon-fiber shield, the helicopter is being readied for its next steps.  </div></div></div></li>

In [9]:
mars_feed = news_feed[0]
mars_feed

<li class="slide"><div class="image_and_description_container"><a href="/news/8896/nasa-ingenuity-mars-helicopter-prepares-for-first-flight/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Now uncocooned from its protective carbon-fiber shield, the helicopter is being readied for its next steps.  </div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="An illustration of NASA’s Ingenuity Helicopter flying on Mars. " src="/system/news_items/list_view_images/8896_thumb-320.jpg"/></div><div class="bottom_gradient"><div><h3>NASA Ingenuity Mars Helicopter Prepares for First Flight</h3></div></div></a><div class="list_text"><div class="list_date">March 23, 2021</div><div class="content_title"><a href="/news/8896/nasa-ingenuity-mars-helicopter-prepares-for-first-flight/" target="_self">NASA Ingenuity Mars Helicopter Prepares for First Flight</a></div><div class="article_teaser_body">Now uncocooned from its protective carbon-fiber shield, the helicopter is being readied for its next steps.  </div></div></div></li>

In [11]:
# latest mars news scrape

latest_news = mars_feed.find('div', class_= 'content_title').text
latest_news

'NASA Ingenuity Mars Helicopter Prepares for First Flight'

In [13]:
# paragraph

latest_para = mars_feed.find('div', class_='article_teaser_body').text
latest_para

'Now uncocooned from its protective carbon-fiber shield, the helicopter is being readied for its next steps.  '

In [25]:
# mars images (yikes) image url scrape

jpl_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(jpl_url)
html = browser.html

soup = BeautifulSoup(html, 'html.parser')

# jpl_image_path = soup.find_all('img', class_= 'headerimage fade-in')
# jpl_image_path

jpl_image_path = soup.find_all('img', class_= 'headerimage fade-in')[0]['src']
jpl_image_path

'image/featured/mars2.jpg'

In [27]:
base_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'

featured_image_url = base_url + jpl_image_path

featured_image_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg'

In [28]:
# mars facts

mars_facts_url = 'https://space-facts.com/mars/'

mars_table = pd.read_html(mars_facts_url)
mars_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [29]:
mars_table_df = mars_table[0]
mars_table_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
# table to html

mars_html = mars_table_df.to_html()
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'